@model IEnumerable<Experience>

@{
    ViewData["Title"] = "My experience list";
}

<h2 class="page-header">Moja iskustva</h2>

<div class="row">
    @{
        foreach (var experience in Model)
        {
            @Html.Partial("MyExperiencesSummary", experience)
        }
    }
</div>

    
