@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager



@if (SignInManager.IsSignedIn(User))
{
   
        <ul  class="nav navbar-nav navbar-right loginUser">
            <li>
                <a href="#" style="font-family: fantasy;font-size: medium;color: indianred;"  class="dropdown-toggle" data-toggle="dropdown">
                    @User.FindFirst(ClaimTypes.Name).Value<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a style="font-family: fantasy;font-size: medium;color: indianred;" asp-controller="Account" asp-action="UpdatePersonalData" asp-route-userName="@User.FindFirst(ClaimTypes.Name).Value">Moji podaci</a></li>
                    <li><a style="font-family: fantasy;font-size: medium;color: indianred;" asp-controller="Account" asp-action="ChangePassword">Promjena lozinke</a></li>
                    <li class="divider"></li>
                    <li class="text-center">
                        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                            <a title="Odjava" href="javascript:document.getElementById('logoutForm').submit()"> <img width="24" height="30" src="~/images/logout.png" /></a>
                        </form>
                    </li>
                </ul>
            </li>

        </ul>
    

    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a style="color:cornflowerblue;" id="registerLink" asp-controller="Account" asp-action="Register"> Registracija </a></li>
        <li><a style="color:blue;" id="loginLink" asp-controller="Account" asp-action="Login"> Prijava </a></li>
    </ul>
}

