<div class="text-center">
    <h2 class="text-danger">Pristup odbijen</h2>
    <h4 class="text-danger">Nemate dozvolu za pristup ovom resursu, prijavite se kao administrator!</h4>
    <img width="300" height="500" src="~/images/lock.jpg" />
</div>