@model ChangePasswordViewModel

@{ 
    ViewData["Title"] = "Promjena lozinke";
}

<h2>Izmjena lozinke</h2>

<hr/>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword">Stara lozinka:</label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Nova lozinka:</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordConfirm">Ponovi lozinku:</label>
                <input asp-for="NewPasswordConfirm" class="form-control" />
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-warning">Potvrdi izmjene</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Natrag</a>
                </div>
            </div>

        </form>
    </div>

    <div class="text-center">
        <img width="250" height="250" src="~/images/passwordChange.png" />
    </div>
</div>