@{
    ViewData["Title"] = "Confirm email";
}

<h2>Potvrda email-a</h2>
<hr />
<div>
    <p>
        Uspješno ste potvrdili vašu e-mail adresu!
        Sada se možete <a asp-action="Login" asp-controller="Account">prijaviti</a> u sustav.
    </p>
</div>