@model LoginViewModel

@{
    ViewData["Title"] = "User login";
}

<h2>Prijava korisnika</h2>

<hr/>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName">Korisničko ime:</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Lozinka:</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe"> 
                        <input asp-for="RememberMe" />
                        Zapamti me
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Prijavi se</button>
        </form>
    </div>
</div>
