@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>Uspešan reset lozinke</h2>
<p>
    Uspješno ste resetirali lozinku! Sada se pokušajte <a asp-action="Login">logirati</a> s novo kreiranom lozinkom.
</p>