@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Message"]</h2>
<hr />
<p class="text-info thumbnail" style="margin-right:100px;margin-left:100px;">
    Svrha ove stranice je omogućiti korisnicima dijeljenje svojeg iskustva s nekim proizvodom kojeg su 
    posjedovali ili koristili. Korisnici mogu ocijeniti pojedini proizvod, te dati povratnu informaciju 
    o tome da li bi isti preporučili drugim korisnicima. Osim toga, korisnici također mogu vidjeti ostala
    podijeljena iskustva s nekim proizvodom, što im primjerice može pomoći u odluci o kupnji tog proizvoda.
</p>
