@{
    ViewData["Title"] = "Contact";
}

<h2>Kontaktirajte nas</h2>

<hr />

<address>
   
    <abbr title="Phone">Telefon</abbr>
    00385955819879
</address>

<address>
    <email address="info@gmail.com" content="Pošaljite upit" class="btn btn-default">Pošaljite upit mail-om</email>
</address>
