
<li class="dropdown">
    <a asp-controller="Experience"
       asp-action="Index"
       class="dropdown-toggle" data-toggle="dropdown">Kategorija<b class="caret"></b></a>
    <ul class="dropdown-menu category-dropdown">
        @foreach (var category in Model)
        {
            var photoPath = "";
            if (category.CategoryPhotoPath != null)
            {
                photoPath = "~/images/categories/" + (category.CategoryPhotoPath ?? "noImage.png");
            }

            else
            {
                photoPath = "~/images/categories/noImage.png";
            }
            <li style="min-width:220px;">
                
                <a style="display:inline-block;"  asp-controller="Experience" asp-action="Index"
                   asp-route-category="@category.CategoryName"><img style="display:inline-block;" class="imgResize" src="@Url.Content(photoPath)" height="21" width="21" /> @category.CategoryName</a>

            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Experience" asp-action="Index" asp-route-category="Sve kategorije">Sva iskustva</a>
        </li>
    </ul>
</li>

<style>
    .category-dropdown {
        background-color: khaki;
        height: 350px;
        overflow: scroll;
    }

</style>