<li class="dropdown">
    <a asp-controller="Experience"
       asp-action="Index"
       class="dropdown-toggle" data-toggle="dropdown">Kategorija<b class="caret"></b></a>
    <ul class="dropdown-menu category-dropdown">
        @foreach (var category in Model)
        {
            <li>
                <a class="menu" asp-controller="Experience" asp-action="Index"
                   asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Experience" asp-action="Index" asp-route-category="Sve kategorije">Sva iskustva</a>
        </li>
    </ul>
</li>

<style>
    .category-dropdown{
        background-color:khaki;
    }

    

</style>