@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a title="Moja podijeljena iskustva" asp-controller="Experience" asp-action="MyList">
            <img alt="Moja podijeljena iskustva" src="~/images/shareIcon.png" style="max-width:24px;max-height:24px;" />
            <span id="cart-status">
                @ViewBag.Count
            </span>
        </a>
    </li>
}

